{% extends "_global/index.html" %}

{% block main %}
<h1>{{ species.name|escape }}</h1>
<p>Rase zivotinja: </p>
<ul>
    {% for race in racesInSpecies %}
    <li>
        <a href="/race/{{ race.race_id }}">
            {{ race.name|escape }}
        </a>
    {% endfor %}
</ul>
{% endblock %}

{% block naslov %}
{{ species.name|escape }}
{% endblock %}


