{% extends "_global/index.html" %}

{% block main %}
<div class="card col-10 col-sm-8 col-lg-5">
    <div class="card-header">
        Opcije dostupne prijavljenim korisnicima
    </div>  
    <div class="card-body">
        <div class="card-text">  
            <a href="/user/ads" >
                Otvorite listu oglasa
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block naslov %}
Dashboard
{% endblock %}


