{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="/user/ads/add">Napravi novi oglas</a>
    </div>

    <div class="ads">
        <ul>
            {% for ad in ads %}
            <li>
                <a href="/user/ads/edit/{{ ad.ad_id }}">
                    {{ ad.name|escape }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}