{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="/user/ads">Pregled mojih oglasa</a>
    </div>

    <form class="ads-form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Naziv: </label>
            <input type="text" id="name" name="name" required class="form-control"
                    value="{{ ad.name }}">
        </div>
        
                 <!--tabela za rase zivotinja-->
        <div class="form-group">
            <label for="race_id">Rasa: </label>
            <select class="form-control" name="race_id" id="race_id">
                {% for race in races %}
                <option value="{{ race.race_id }}" {% if ad.race_id == race.race_id %}selected{% endif %}>
                    {{ race.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="description">Opis: </label>
            <textarea id="description" name="description" required class="form-control" rows="10">{{ ad.description }}</textarea>
        </div>

        <div class="form-group">
            <label for="age">Godine: </label>
            <input type="number" id="age" name="age" required class="form-control"
                    min="0.1" max="100" step="0.1" value="{{ ad.age }}">
        </div>

        <div class="form-group">
            <label for="weight">Tezina zivotinje: </label>
            <input type="number" id="weight" name="weight" class="form-control"
                    min="0.1" step="0.1" value="{{ ad.weight }}">
        </div>
        
        <div class="form-group">
            <label for="hair_skin_colour">Boja dlake/koze: </label>
            <input type="text" id="hair_skin_colour" name="hair_skin_colour" required class="form-control" value="{{ ad.hair_skin_colour }}">
        </div>

        <div class="form-group">
            <label for="is_documentation_available">Da li postoji dokumentacija zivotinje: </label>
            <input type="checkbox" id="is_documentation_available" name="is_documentation_available" value="1" {% if ad.is_documentation_available == 1 %}checked{% endif %}>
        </div>

        <div class="form-group">
            <label for="is_vaccinated">Da li je zivotinja vakcinisana: </label>
            <input type="checkbox" id="is_vaccinated" name="is_vaccinated" value="1" {% if ad.is_vaccinated == 1 %}checked{% endif %}>
        </div>

        <div class="form-group">
            <label for="picture">Picture: </label>                      <!--Da li je ovo dobro ili mora picture?-->
            <input type="file" id="picture" name="picture" class="form-control" accept="picture/jpeg">
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
                Izmeni oglas
            </button>
        </div>
    </form>
</div>
{% endblock %}