{% extends "_global/index.html" %}

{% block main %}
<!--<h1>{{ race.name|escape }}</h1>-->
    <ul>
        {% for ad in adsInRaces %}
        <li class="ad row">
            <div class="col-8 col-md-2 picturesOfRaces">
                <a href="/ad/{{ ad.ad_id }}">
                   <img src=/assets/img/moli.jpg alt="slika" class="width-100-percent">

                </a>
            </div>

            <div class="col-12 col-md-9">
                <a href="/ad/{{ ad.ad_id }}">
                    {{ ad.name|escape }}
                </a>

                <div class="row">
                    <div class="card">
                        <div class="body">
                            <span class="col-6 col-md-4">Godine: {{ ad.age|escape }}</span>
                            <span class="col-6 col-md-4">Tezina: {{ ad.weight|escape }}</span>
                            <span class="col-6 col-md-4">Opis:   {{ ad.description|escape }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}

{% block naslov %}
{{ race.name|escape }}
{% endblock %}