{% extends "_global/index.html" %}

{% block main %}
<div class="row">
    <form action="/user/login" method="POST"
        class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-1 col-lg-6 offset-lg-1 col-xl-6 offset-xl-1">
        <div class="card">
            <div class="card-header">
                Prijava korisnika:
                    <div class="card-body">

                        <div class="form-group">
                            <label for="input_username">Korisnicko ime:</label>
                            <input type="text" id="input_username" name="login_username" required class="form-control"
                                placeholder="Unesite svoje korisnicko ime.">
                        </div>

                        <div class="form-group">
                            <label for="input_password">Lozinka:</label>
                            <input type="password" id="input_password" name="login_password" required class="form-control" 
                                placeholder="Unesite svoju lozinku.">
                        </div>

                    </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                Prijava
                            </button>
                        </div>
            </div>        
        </div>
    </form>
</div>
{% endblock %}