{% extends "_global/index.html" %}

{% block main %}
<div class="row">
    <form action="/user/register" method="POST" 
        class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-1 col-lg-6 offset-lg-1 col-xl-6 offset-xl-1">
    <div class="card">  
    <div class="card-header">
        Registracija korisnika:    
    <div class="card-body"> 

        <div class="form-group">
            <label for="input_email">E-mail:</label>
            <input type="email" id="input_email" name="reg_email" required class="form-control"
                placeholder="Unesite svoju e-mail adresu.">
        </div>

        <div class="form-group">
            <label for="input_forename">Ime:</label>
            <input type="text" id="input_forename" name="reg_forename" required class="form-control"
                placeholder="Unesite vase ime.">
        </div>

        <div class="form-group">
            <label for="input_surname">Prezime:</label>
            <input type="text" id="input_surname" name="reg_surname" required class="form-control"
                placeholder="Unesite vase prezime.">
        </div>

        <div class="form-group">
            <label for="input_username">Korisnicko ime:</label>
            <input type="text" id="input_username" name="reg_username" required class="form-control"
                placeholder="Unesite korisnicko ime.">
        </div>

        <div class="form-group">
            <label for="input_password_1">Lozinka:</label>
            <input type="password" id="input_password_1" name="reg_password_1" required class="form-control"
                placeholder="Unesite zeljenu lozinku.">
        </div>

        <div class="form-group">
            <label for="input_password_2">Ponovite vasu lozinku:</label>
            <input type="password" id="input_password_2" name="reg_password_2" required class="form-control"
                placeholder="Unesite zeljenu lozinku jos jednom.">
        </div>
    </div> 

        <div class="card-footer">
            <button type="submit" class="btn btn-success">
                Registracija
            </button>
        </div>
    </div>  
</form>
</div>
{% endblock %}