{% extends "_global/index.html" %}

{% block main %}
{% spaceless %}
<p>{{ podatak }}</p>
            <!--blok sa imenom-->
<div class="jumbotron jumbotron-fluid blokNaslov">
  <div class="container">
    <h1 class="display-3 text-center">Udomite zivotinju</h1>
    <p class="lead text-center">Jer one su vam verne zauvek!</p>
  </div>
</div>

<div class="row">   
    {% for species in specieses %}
    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center species">
        <div class="card-body">
            <a href="/species/{{ species.species_id }}" 
                class="card-title">
                {{ species.name }}
             </a> 
        </div>
    </div>      
    {% endfor %}
</div>
            <!--slider-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner slider">
      <div class="carousel-item active">
        <img src="/assets/img/nzmBpmA.jpg" class="d-block w-100" alt="asd">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/labrador.jpg" class="d-block w-100" alt="sad">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/papagaji.jpg" class="d-block w-100" alt="dsa">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endspaceless %}
{% endblock %}

