.social-icons { text-align: right }

.banners img {
    margin: 5px 5px;
    height: 100px;
    width: 200px;
    color:rgb(250, 232, 235);
    text-align: center;
 }
 
 .species {
    padding: 30px 0px;
    
}

.social-icons a i.fa {
    display:inline-block;
    font-size: 20pt;
    margin: 10px 10px;
    color: black;
}

.navbar-nav  {
    font-size: 14pt;
}

.probica {
    background-color: rgb(250, 232, 235);
}

.slider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.naslov {
    margin-bottom: 20px;
}

.blokNaslov {
    background-color: rgb(247, 222, 226);
}

.allBackground {
    background-color: rgb(250, 232, 235);
}

.width-100-percent { width: 100%; }

.picturesOfRaces { 
    margin-bottom: 1%;
}



