{% extends "_global/index.html" %}

{% block main %}
<h1>{{ race.name|escape }}</h1>
<p>Oglasi : </p>
<ul>
    {% for ad in ads %}
    <li>
        <a href="/ad/{{ ad.ad_id }}">
            {{ ad.name|escape }}
        </a>
    {% endfor %}
</ul>
{% endblock %}

{% block naslov %}
Rezultati pretrage
{% endblock %}