{% extends "_global/index.html" %}

{% block main %}

<div class="row">
    <div class="col-12 col-lg-3">
        <img src="/assets/uploads/{{ picture.picture_path }}"
             alt="Slika oglasa - {{ ad.name }}"
             class="w-100">


<h1>{{ ad.name|escape }}</h1>
    <div class="card card-body">Boja koze: {{ ad.hair_skin_colour|escape }}</div>
    <!-- da li treba escape filter kod vakcinisan i dokumentacije? -->
    <div class="card card-body">Da li je zivotinja vakcinisana: {{ ad.is_vaccinated|escape }}</div>
    <div class="card card-body">Da li je zivotinja ima papire predvidjene zakonom: {{ ad.is_documentation_available|escape }}</div>
    <div class="card card-body">Godine: {{ ad.age|escape }}</div>
    <div class="card card-body">Tezina: {{ ad.weight }} kg</div>
    <div class="card card-body">Opis: {{ ad.description|escape }}</div>
</div>   
{% endblock %}

{% block naslov %}
{{ ad.name|escape }}
{% endblock %}