{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="/user/races">List all races</a>
    </div>

    <form class="race-form" method="POST">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" required>
        </div>  
        
        <div>
            <button type="submit">
                Add race
            </button>
        </div>
    </form>
</div>
{% endblock %}