{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="/user/races/add">Add new race</a>
    </div>

    <div class="races">
        <ul>
            {% for race in races %}
            <li>
                <a href="/user/races/edit/{{ race.race_id }}">
                    {{ race.name|escape }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}