<!DOCTYPE html>
<html>
    <head>
        <title>Udomljavanje zivotinja - {% block naslov %}Pocetna{% endblock %} </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/libs/font-awesome/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/css/main.css">
        
    </head>
    <body class="allBackground">
        <div class="container">
            <header>

                <div class="row">
                    <div class="col col-sm banners">
                        <a href="/"><img src=/assets/img/sapa.jpg alt="Banner 1"></a>
                    </div>
                          <!-- #1    #2 -->
                    <div class="col col-sm">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>

                        <div class="search-box">
                            <form method="post" action="/search/">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="q" class="form-control"
                                            placeholder="Kljucne reci pretrage" required pattern="[^\s]{2,}">
                                        <button type="submit"
                                            class="btn btn-outline-dark"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
            <!--menu sajta -->

            <nav class="navbar navbar-expand-lg navbar-light probica">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/"><i class="fa fa-paw"></i> Vrste zivotinja</a>
                        <a class="nav-item nav-link" href="/user/register"><i class="fa fa-user-plus"></i> Registracija</a>
                        <a class="nav-item nav-link" href="/user/login"><i class="fa fa-sign-in"></i> Prijava</a>
                        <a class="nav-item nav-link" href="/log-out"><i class="fa fa-sign-out"></i> Odjava</a>
                    </div>
                </div>
            </nav>
        </header>
        <!--glavni sadrzaj sajta -->
        <main>
            {% block main %}
            {% endblock %}
        </main>
                <!-- Footer -->
        <footer class="page-footer font-small mdb-color pt-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">
        
            <!-- Footer links -->
            <div class="row text-center text-md-left mt-3 pb-3">
        
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Citat</h6>
                <p>Svako treba  da ima barem jednog kucnog ljubimca</p>
                </div>
                <!-- Grid column -->
        
                <hr class="w-100 clearfix d-md-none">
        
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p>
                    <a href="#!">MDBootstrap</a>
                </p>
                <p>
                    <a href="#!">MDWordPress</a>
                </p>
                <p>
                    <a href="#!">BrandFlow</a>
                </p>
                <p>
                    <a href="#!">Bootstrap Angular</a>
                </p>
                </div>
                <!-- Grid column -->
        
                <hr class="w-100 clearfix d-md-none">
        
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>
                </div>
        
                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">
        
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Kontakt</h6>
                <p>
                    <i class="fa fa-home mr-3"></i> Loznica, 15 300, Serbia</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> zhilebre@gmail.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                <p>
                    <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
        
            </div>
            <!-- Footer links -->
        
            <hr>
        
            <!-- Grid row -->
            <div class="row d-flex align-items-center">
        
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8">
        
                <!--Copyright-->
                <p class="text-center text-md-left">© 2019 Copyright:
                    <strong> Bogdan Zivanovic</strong>
                    </a>
                </p>
        
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0">
        
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                        <i class="fa fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                        <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                        <i class="fa fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                        <i class="fa fa-linkedin-in"></i>
                        </a>
                    </li>
                    </ul>
                </div>
        
                </div>
                <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
            </div>
            <!-- Footer Links -->
        
        </footer>
        <!-- Footer -->
    </div>
    </body>
</html>